/* デモ用 */
.my-husen-blue {
    border-width: 0px 0px 0px 25px;
    border-radius: 2px 0px 0px 2px;
    border-color: #176CEE;
    border-style: solid;
}

.my-husen-yellow {
    border-width: 0px 0px 0px 25px;
    border-radius: 2px 0px 0px 2px;
    border-color: #FFB902;
    border-style: solid;
}

.my-husen-red {
    border-width: 0px 0px 0px 25px;
    border-radius: 2px 0px 0px 2px;
    border-color: #DA4833;
    border-style: solid;
}

.my-husen-green {
    border-width: 0px 0px 0px 25px;
    border-radius: 2px 0px 0px 2px;
    border-color: #019F5A;
    border-style: solid;
}

.my-husen-gray {
    border-width: 0px 0px 0px 25px;
    border-radius: 2px 0px 0px 2px;
    border-color: #777777;
    border-style: solid;
}

.c {
    padding: 7px 7px 7px 7px;
    font-family: Meiryo;
    font-size: 10pt;
}

.y {
    font-family: "Open Sans";
    font-size: 25pt;
}

.i {
    font-family: 'Open Sans',Meiryo;
    font-weight: normal;
    font-size: 48px; /*-webkit-xxx-large;*/
    text-align: center;
    cursor: pointer;
}

.ye {
    background-color: #FFB902;
    height: 63px;
    border-radius: 2px;
}