/* 注意
 * プリフィックス「user-」で始まるセレクタ以外のスタイルを変更すると、
 * 全体のレイアウトが大きく乱れます。
 */
 
.user-appbar {
background-color: #fff;
color: #000;
}

.user-img {
padding: 2px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.user-text {
  overflow: hidden;
}

.user-free {
   font-weight: bold;
   font-size: 14pt;
   overflow: hidden;
}

/* デモ用 */
.my-husen-blue {
  border-width: 0px 0px 0px 25px;
  border-radius: 2px 0px 0px 2px;
  border-color: #176CEE;
  border-style: solid;
}

.my-husen-yellow {
  border-width: 0px 0px 0px 25px;
  border-radius: 2px 0px 0px 2px;
  border-color: #FFB902;
  border-style: solid;
}

.my-husen-red {
  border-width: 0px 0px 0px 25px;
  border-radius: 2px 0px 0px 2px;
  border-color: #DA4833;
  border-style: solid;
}

.my-husen-green {
  border-width: 0px 0px 0px 25px;
  border-radius: 2px 0px 0px 2px;
  border-color: #019F5A;
  border-style: solid;
}

.my-husen-gray {
  border-width: 0px 0px 0px 25px;
  border-radius: 2px 0px 0px 2px;
  border-color: #777777;
  border-style: solid;
}

.c {
  padding: 7px 7px 7px 7px;
  font-family: Meiryo;
  font-size: 10pt;
}

.y {
  font-family: osl;
  font-size: 25pt;
}