/* 注意
 * プリフィックス「user-」で始まるセレクタ以外のスタイルを変更すると、
 * 全体のレイアウトが大きく乱れることがあります。
 */

.user-appbar {
    background-color: #fff;
    color: #000;
}

.user-img {
    padding: 2px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.user-text {
    overflow: hidden;
}

.user-free {
    font-weight: bold;
    font-size: 14pt;
    overflow: hidden;
}

/* main.css */
body {
    background-color: #eee;
    margin: 0 0 0 0;
    font-weight: 300;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif, Meiryo;
}


.AppBar {
    z-index: 100;
    margin-top: -90px;
    height: 78px;
    text-align: left;
    position: fixed;
    width: 100%;
    border-left-width: 0px;
    border-right-width: 0px;
    cursor: default;
    font-family: 'Open Sans', sans-serif, Meiryo;
    border-bottom-width: 0px !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0px !important;
}

.AppIconArea {
    margin-top: 13px;
    margin-left: 35px;
    font-size: 20pt;
}

.Icon {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    cursor: pointer;
}

#main {
    margin-left : auto;
    margin-right : auto;
    margin-top: 90px;
}

#stage {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.Stream {
    float: left;
}

.TypeTxt {
    padding: 10px;
}

.Card {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    border-top-width: 0;
    vertical-align: top;
}

.MenuBox {
    float: right;
    margin-right: 35px;
    margin-top: -38px;
    position: relative;
    z-index: 99;
}
