/* 注意
 * prefix「user-」で始まるセレクタ以外のスタイルを変更すると、
 * 全体のレイアウトが大きく乱れることがあります。
 */
 /* v0.0.38dev */

.user-appbar {
    background-color: #fff;
    color: #000;
}

.default-img, .default-caption-img {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: -5px;
}

.default-text {
    overflow: hidden;
    cursor: default;
}

.default-free {
    font-weight: bold;
    font-size: 14pt;
    overflow: hidden;
}

.default-caption {
   font-family: Meiryo;
   font-size: 12pt;
   overflow: hidden;
   padding-left: 5px;
}

/* main.css */
html {
   /* overflow-y: scroll;*/
}

body {
    background-color: #eee;
    margin: 0 0 0 0;
    font-weight: 300;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif, Meiryo;
}


.AppBar {
    z-index: 100;
    /*margin-top: -90px; 独自消去*/
    height: 78px;
    text-align: left;
    position: fixed;
    width: 100%;
    border-left-width: 0px;
    border-right-width: 0px;
    cursor: default;
    font-family: 'Open Sans', sans-serif, Meiryo;
    border-bottom-width: 0px !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0px !important;
}

.AppIconArea {
    margin-top: 13px;
    margin-left: 35px;
    font-size: 20pt;
}

.Icon {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    cursor: pointer;
}

#main {
    margin-left : auto;
    margin-right : auto;
    /*margin-top: 90px; 独自消去*/
    padding-top: 90px; /*独自追加*/
}

#stage {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.Stream {
    float: left;
}

.TypeTxt {
    padding: 10px;
}

.Card {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    /*border: 1px solid #d8d8d8;*//* 独自変更 */
    /*border-bottom-width: 2px;*/ /* 独自変更 */
    box-shadow: 0px 1px 1px #BBB4A5;
    border-top-width: 0;
    vertical-align: top;
}

.CardHidden {
    border: 0px;
}

.MenuBox {
    float: right;
    margin-right: 35px;
    margin-top: -38px;
    position: relative;
    z-index: 99;
}

/* New Design */
.adjust_panel {
    /*background-color: #ccc;*/
}

.AppBar {
    background-color: #312319;
    /*#312319;*/
    color: #000!important;
    /*border-bottom: 1px solid #d3d3d3!important;*/
    /*box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3)!important;*/
    height: 52px!important;
}

.MenuBox {
    float: left!important;
    margin-left: 55px!important;
    margin-top: -45px!important;
}

#select_menu {
    /*height: 40px;*/
    margin-top: 8px;
    border: 0px;
    font-family: Meiryo!important;
    background-color: #312319;
    color: #fff;
    font-size: 12pt;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    text-indent: .01px;
    /*FF用*/
    text-overflow: "";
    /*FF用*/
    outline: 0;
}

.AppIconArea {
    margin-top: 2px!important;
    margin-left: 2px!important;
}

#stage {
    margin-top: -5px!important;
}

.Card {
    /*cursor: pointer;*/
    cursor: default;
}
