.user-appbar {
    background-color: #fff;
    color: #000;
}

.default-img, .default-caption-img {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: -5px;
}

.default-text {
    overflow: hidden;
    cursor: default;
}

.default-free {
    font-weight: bold;
    font-size: 14pt;
    overflow: hidden;
}

.default-caption {
   font-family: Meiryo;
   font-size: 12pt;
   overflow: hidden;
   padding-left: 5px;
}

/* main.css */
html {
   /* overflow-y: scroll;*/
}

body {
    background-color: #eee;
    margin: 0 0 0 0;
    font-weight: 300;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif, Meiryo;
}


.AppBar {
    z-index: 100;
    /*margin-top: -90px; 独自消去*/
    height: 78px;
    text-align: left;
    /*position: absolute;fixed;*/
    width: 100%;
    border-left-width: 0px;
    border-right-width: 0px;
    cursor: default;
    font-family: 'Open Sans', sans-serif, Meiryo;
    border-bottom-width: 0px !important;
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0px 1px 1px #ccc;*/
    -webkit-border-radius: 0px !important;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); */
}

.BaseBar {
    height: 57px;
    /*background-color: #fff;*/
    /*margin-top: -20px;*/
    /*box-shadow: 0px 1px 1px #ccc;*/
    /*position: absolute;*/
    width: 100%;
    z-index: 30;
}

.AppIconArea {
    margin-top: 13px;
    margin-left: 35px;
    font-size: 20pt;
}

.Icon {
    width: 52px;  /*48px*/
    height: 32px; /*48px*/
    vertical-align: middle;
    cursor: default;
    margin-top: 2px;
    padding-top: 17px;
    margin-left: -28px;
}

#main {
    margin-left : auto;
    margin-right : auto;
    /*margin-top: 90px; 独自消去*/
    padding-top: 148px; /*独自追加*//*40 90px*//*148px*/
}

#main_blank {
    height: 148px;
}

#stage {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.Stream {
    float: left;
}

.TypeTxt {
    padding: 10px;
}

.Card {
    /*-webkit-border-radius: 3px;
    border-radius: 3px;*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    /*border: 1px solid #d8d8d8;*//* 独自変更 */
    /*border-bottom-width: 2px;*/ /* 独自変更 */
    box-shadow: 0px 1px 1px #BBB4A5;
    border-top-width: 0;
    vertical-align: top;
}

.CardHidden {
    border: 0px!important;
    box-shadow: 0px 0px 0px #BBB4A5!important;
}

.MenuBox {
    float: right;
    margin-right: 35px;
    margin-top: -38px;
    position: relative;
    z-index: 99;
}

/* New Design */
.adjust_panel {
    /*background-color: #ccc;*/
}

.AppBar {
    background-color: #fff;/*#312319;*/
    /*#312319;*/
    color: #000!important;
    /*border-bottom: 1px solid #d3d3d3!important;*/
    /*box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3)!important;*/
    height: 56px!important; /*52px*/
}

.MenuBox {
    float: left!important;
    margin-left: 64px!important; /* 55 */
    margin-top: -34px!important; /*-45*/
}

#select_menu {
    /*height: 40px;*/
    font-size: 13px!important;
    margin-top: 8px;
    border: 0px;
    font-family: arial, Meiryo!important;
    /*background-color: #312319;*/
    color: #fff;
    font-size: 12pt;
    /*font-size: 24px;*/
    cursor: default;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    text-indent: .01px;
    /*FF用*/
    text-overflow: "";
    /*FF用*/
    outline: 0;
}

.AppIconArea {
    margin-top: 0px!important;/*2*/
    margin-left: 2px!important;
}

#stage {
    margin-top: -5px!important;
}

.Card {
    /*cursor: pointer;*/
    cursor: default;
}

/* newDesign */
#base_bar_text  {
    padding-top: 74px;
    font-size: 15px;
    font-family: Meiryo, arial;
    /*margin-left: 25px;*/
    cursor: default;
}

.AppHead {
    position: absolute;
    width: 100%;
    z-index: 30;
}

.AppBar {
    position: fixed;
    width: 100%;
    z-index: 32; /*31*/
}

.BaseBar {
    position: fixed;
    width: 100%;
    z-index: 30;
    height: 113px;
    /*margin-top: 56px;*/
}


.open_appbar {
   transition-duration: 0.3s;
   height: 56px!important;
}

.close_appbar {
   transition-duration: 0.3s;
   height: 0px!important;
   transition-delay: 0.4s;
}

.open_basebar {
   transition-duration: 0.4s;
   height: 113px;
   transition-delay: 0.3s;
}

.close {
   /* basebar */
   transition-duration: 0.8s;
   height: 0px!important;
}

.close_text {
   transition-duration: 0.2s;
   /*margin-left: -100%!important;*/ /*-600*/
   color: rgba(0,0,255,0) ;
}

.open_text {
   transition-duration: 0.4s;/*0.8s*/
   /*margin-left: 25px!important;*/
   /*color: #000;*/
   transition-delay: 0.5s;
}

.open_app_name {
  transition-duration: 0.5s;
  margin-left: 64px!important;/*55*/
}

.close_app_name {
  transition-duration: 0.3s;
  margin-top: -60px!important;
  transition-delay: 0.4s;
}

.open_icon {
  transition-duration: 0.5s;
  margin-left: 2px!important;
}

.close_icon {
  transition-duration: 0.3s;
  margin-top: -60px!important;
  transition-delay: 0.4s;
}

/* menus */
#menus {
   width: 100%;
   background-color: #FFF;
   z-index: 29;
   position: fixed;
   overflow-y: scroll;
   overflow-x: hidden;
}

.menus_open {
   transition-duration: 0.4s;
   height: 82%;
   height: -webkit-calc(100% - 112px);
   height: calc(100% - 112px);
}

.menus_close {
   transition-duration: 0.4s;
   height: 0px;
}

.list_menu {
   height: 38px;
   border: 1px solid #eee;
   margin-top: -1px;
   padding-top: 16px;
   font-size: 15px;
   font-family: Meiryo, arial;
   padding-left: 25px;
   cursor: default;
 }

.list_menu:hover {
   transition-duration: 1s;
   background-color: #f0f0f0;
}

.PlusBtn {
   position: fixed;
   display: none;
   background-color: #000;
   font-size: 14px;
   color: #fff;
   opacity: 0.6;
   padding: 15px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: 20px;
   border-radius: 16px;
   font-family: Meiryo, arial;
   z-index: 28;
   cursor: default;
}

#stage_floatcard {
  margin-top: -70px;
}

.FloatCard:hover {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}

#mask {
  /*background-color: rgba(0, 0, 0, 0.5);*/
  position: fixed;
  left: 0;
  top: 56px;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.mask_on {
  visibility: visible;
  opacity: 1;
  -moz-transition: opacity 0.3s linear 0 , width 1s linear 0 , height 1s linear 0;
  -webkit-transition: opacity 0.3s linear 0 , width 1s linear 0 , height 1s linear 0;
  transition: opacity 0.3s linear 0 , width 1s linear 0 , height 1s linear 0;
}

.mask_off {
  opacity: 0;
  -moz-transition: opacity 0.3s linear 0 , width 1s linear 0 , height 1s linear 0;
  -webkit-transition: opacity 0.3s linear 0 , width 1s linear 0 , height 1s linear 0;
  transition: opacity 0.3s linear 0 , width 1s linear 0 , height 1s linear 0;
}

.mask_off_after {
  opacity: 0;
  visibility: hidden;
}

#sideNavigation {
  width: 260px;
  position: fixed;
  overflow-y: auto;
  font-size: 13px;
  background-color: #fff;
  margin-top: 56px;
  z-index: 31; 
  margin-left: -261px;
  height: 100%;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
}

.sideMenuItem {
  padding-top: 18px;
  padding-bottom: 17px;
  cursor: default;
  color: #333;
  font-weight: 700;
  margin-top: 0px;
  padding: 15px 0 15px 22px;
  box-sizing: border-box;
  border-left: 2px solid rgba(0, 0, 0, 0);
}

.sideMenuItem:hover {
  transition-duration: 0.5s;
  background-color: #EEE;
}

nav {
  padding: 12px 0 10px 0;
}

#sideLogo {
  height: 57px;
  border-bottom: 1px solid #E0E0E0;
  display: block;
  box-sizing: border-box;
  margin: auto;
  padding: 19px 24px 10px 24px;
  position: relative;
  font-weight: 800;
}

.hamburger {
  width: 18px;
  height: 2px;
  background-color: #F1F1F1;
  margin-top: 3px;
  margin-left: 17px;
}

.sideIcon {
  height: 48px;
}

.IconDiv {
  margin-top: -30px;/*-47*/
  margin-left: 40px;/*55*/
}

#menus {
  margin-top: 113px;
}


